* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.bg-gradient {
  background: linear-gradient(to bottom, rgba(183, 29, 70, 1) 0%, rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%);
}

.bg-grey {
  background-color: #dfdfdf;
}

.bg-image {
  background-image: url(../assets/img/primary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ft-grey {
  color: #857069;
}

.ft-whitesmoke {
  color: whitesmoke;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-33 {
  height: 33vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-height {
  height: 100vh;
}

.ln-height {
  line-height: 100vh;
}

.padding-4 {
  padding: 1rem;
}

.padding-side-4 {
  padding: 0 2.7rem;
}

.padding-top-4 {
  padding-top: 1em;
}

.padding-top-5 {
  padding-top: 1.5em;
}

.mobile-nav-bar a {
  color: #fefefe;
}
/* profile style*/
.round{
  border-radius: 8px;
}
.card-profile-stats {
  margin: 0 0 1.25rem;
  padding: 1.25rem;
  background: #fff;
}
.card-profile-stats-intro {
  text-align: center;
}
.card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}
p:last-child {
  margin: 0;
}
.card-profile-stats-container {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  text-align: center;
}
.card-profile-stats-statistic {
  padding-right: 2rem;
}
.card-profile-stats-more-link {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
.card-profile-stats-more-content {
  display: none;
}
