* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/*vista splah*/
.img-responsive {
  width: 100vw;
  height: 50vh;
}
.container-flex-row {
  display: flex;
  justify-content: space-between;
}
.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
.vh100 {
  height: 100vh;
}
.grad10 {
  background-image: url("../assets/img/primary.jpg");
  /*background-size: contain;*/
  background-repeat: no-repeat;
}
.grad70 {
  background: linear-gradient(to bottom, rgba(183, 29, 70, 1) 0%, rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%);
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.buttons-register {
  padding: 2em;
}
.btn-success {
  padding: 0.5em;
  margin-bottom: 3em;
}

.title {
  padding: 0.5em;
  margin-bottom: 1em;
}
.signup {
  background: ;
}
/******************************/
.bg-gradient {
  background: linear-gradient(to bottom, rgba(183, 29, 70, 1) 0%, rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%);
}

.bg-grey {
  background-color: #dfdfdf;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-image {
  background-image: url(../assets/img/primary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ft-grey {
  color: #393939;
}

.ft-whitesmoke {
  color: whitesmoke;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-33 {
  height: 33vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-height {
  height: 100vh;
}

.vh-height {
  line-height: 100vh;
}

.padding-4 {
  padding: 1rem;
}

.padding-side-4 {
  padding: 0 2.7rem;
}

.padding-top-4 {
  padding-top: 1em;
}

.padding-top-5 {
  padding-top: 1.5em;
}

.mobile-nav-bar a {
  color: #fefefe;
}

.round {
  border-radius: 5px;
}


/* logout style */

.logout-container {
  position: relative;
}

.log-out {
  position: absolute;
  left: 37%;
  bottom: 20%;
}


/* profile style*/

.card-profile-stats {
  margin: 0 0 1.25rem;
  padding: 1.25rem;
  background: #fff;
}

.card-profile-stats-intro {
  text-align: center;
}

.card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}

p:last-child {
  margin: 0;
}

.card-profile-stats-container {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  text-align: center;
}

.card-profile-stats-statistic {
  padding-right: 2rem;
}

.card-profile-stats-more-link {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.card-profile-stats-more-content {
  display: none;
}

.feedback {
  margin-right: 2.5rem;
}

.feedback-icon {
  margin-right: 2rem;
}
