* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.bg-gradient {
  background: linear-gradient(to bottom, rgba(183, 29, 70, 1) 0%, rgba(143, 2, 34, 1) 56%, rgba(169, 3, 41, 1) 100%);
}

.bg-grey {
  background-color: #dfdfdf;
}

.bg-image {
  background-image: url(../assets/img/primary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ft-grey {
  color: #857069;
}

.ft-whitesmoke {
  color: whitesmoke;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-33 {
  height: 33vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-height {
  height: 100vh;
}

.ln-height {
  line-height: 100vh;
}

.padding-4 {
  padding: 1rem;
}

.padding-side-4 {
  padding: 0 2.7rem;
}

.padding-top-4 {
  padding-top: 1em;
}

.padding-top-5 {
  padding-top: 1.5em;
}

.mobile-nav-bar a {
  color: #fefefe;
}

/* .thumbnail{
  width: 300px;;
} */

/* profile style*/
.card-profile-stats {
  border: 1px solid $medium-gray;
  margin: 0 0 1.25rem;
  padding: 1.25rem;
  background: #fff;
}
.card-profile-stats-intro {
  text-align: center;
}
.card-profile-stats-intro-pic {
  border-radius: 50%;
  margin: 0 0 1.25rem;
}
p:last-child {
  margin: 0;
}
.card-profile-stats-container {
  text-align: center;
}
.card-profile-stats-statistic {
  margin: 0 0 1.25rem;
}
    } // .card-profile-stats-statistic
  } // .card-profile-stats-container

  .card-profile-stats-more {
    }
    .card-profile-stats-more-link {
      margin: 0;
      text-align: center;
      font-size: 1.5rem;
      color: $body-font-color;
      padding: 0.5rem;
      cursor: pointer;
    } // .card-profile-stats-more-link

    .card-profile-stats-more-content {
      display: none;
    }


/* Large and up */
@include breakpoint(large) {
  .card-profile-stats {}
    .card-profile-stats-intro {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
    }

      .card-profile-stats-intro-pic {
        margin: 0 1.25rem 0 0;
        max-width: 250px;
      } // .card-profile-stats-intro-pic
    } // .card-profile-stats-intro

    .card-profile-stats-container {
      display: flex;
      justify-content: space-around;
    } // .card-profile-stats-container
  } // .card-profile-stats

} // media query - large & up
