<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!--letter type-->
    <link rel="stylesheet" href="../css/main.css">
    <title>nomadic-prueba</title>
  </head>
  <body class="grad70 vh100">
    <div class="slide-buttons container-flex-row">
      <a href="register.html" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </a>
    </div>
    <form class="container-flex-column">
      <h1 class="title text-center">LOG IN</h1>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <span id="mensaje"></span>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-success">LOG IN</button>
    </form>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
