<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nomadic</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/foundation/css/foundation.css">
  <link rel="stylesheet" href="../vendors/foundation/css/app.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="">
  <!-- start newsfeed section -->
  <div class="row">
    <div class="small-12 columns">

    </div>
    <div class="mobile-nav-bar title-bar">
      <div class="title-bar-left">
        <button class="menu-icon" type="button"></button>
      </div>
      <div class="title-bar-center">
        <span class="title-bar-text">My Page</span>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-text">Actions</span>
        <span class="title-bar-text">
          <a href="#">
            <i class="fa fa-home title-bar-logo"></i>
          </a>
        </span>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="uploader padding-4 " id="uploader">
        <h3>Share your experience </h3>
        <div class="preview thumbnail" id="preview">
          <a href="#" class="button round" id="file-select">Choose Files</a>
          <img src="" alt="">
        </div>
        <span id="file-info">No files have been uploaded yet</span>
        <input type="file" name="file" id="file">
        <a href="#" id="file-save">Save file</a>

      </div>
    </div>
  </div>

  <!-- End newsfeed section -->
  <script src="../vendors/js/jquery-3.2.1.min.js "></script>
  <script src="../vendors/foundation/js/vendor/jquery.js "></script>
  <script src="../vendors/foundation/js/vendor/what-input.js "></script>
  <script src="../vendors/foundation/js/vendor/foundation.js "></script>
  <script src="../vendors/foundation/js/app.js "></script>
  <script src="../js/newsfeed.js "></script>
</body>

</html>