<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nomadic</title>
  <link rel="shortcut icon" href="../assets/img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/foundation/css/foundation.css">
  <link rel="stylesheet" href="../vendors/foundation/css/app.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="">
  <!-- start newsfeed section -->
  <div class="row">
    <div class="bg-gradient title-bar">
      <div class="title-bar-left">
        <a href="profile.html">
          <i class="fa fa-user-circle-o fa-2x ft-whitesmoke" aria-hidden="true"></i>
        </a>
      </div>
      <div class="title-bar-center">
        <a href="profile.html">
          <img src="../assets/img/nomadic logo-02 1.png" width="60" height="60" alt="logo">
        </a>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-text">
          <a href="logout.html" class="ft-whitesmoke">Log Out</a>
        </span>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="uploader padding-4  ft-grey tab-content text-center">
        <div class="card thumbnail padding-4">
          <div class="body ">
            <div class="text">
              <textarea id="post" name="post" placeholder="What's on your mind?"></textarea>
              <button class="button round" id="btnSave">Post</button>
              <input id="photo" type="file" />
            </div>
          </div>
          <div>
            <hr>
            <ul class="container-post no-bullet ft-grey" id="container-post">
              <!-- agregando imgs-->
              <img id="i" />
            </ul>
          </div>
        </div>

      </div>
    </div>
    <!-- End newsfeed section -->
    <script src="../vendors/js/jquery-3.2.1.min.js "></script>
    <script src="../vendors/foundation/js/vendor/jquery.js "></script>
    <script src="../vendors/foundation/js/vendor/what-input.js "></script>
    <script src="../vendors/foundation/js/vendor/foundation.js "></script>
    <script src="../vendors/foundation/js/app.js "></script>
    <script src="../js/newfeed.js "></script>
</body>

</html>