<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nomadic</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/foundation/css/foundation.css">
  <link rel="stylesheet" href="../vendors/foundation/css/app.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<!-- start primary section -->

<body class="bg-image">
  <div class="row vh-40 ">
    <div class="small-12 columns padding-top-4">
      <img src="../assets/img/nomadic-logo.png" alt="logo">
    </div>
  </div>
  <div class="row vh-60 ">
    <div class="small-12 columns padding-top-5">
      <div class="login padding-4 " id="login">
        <div class="box-login padding-4">
          <p class="text-justify ft-whitesmoke "><strong>Log in with your Gmail account </strong></p>
        </div>
        <div class="box-login padding-4 padding-side-4 ">
          <button type="button " class="alert button text-center text-justify" id="star-login ">Iniciar sesion con
            <i class="fa fa-google
          fa-2x " aria-hidden="true "></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  </div>

  <!-- End primary section -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/foundation/js/vendor/jquery.js"></script>
  <script src="../vendors/foundation/js/vendor/what-input.js"></script>
  <script src="../vendors/foundation/js/vendor/foundation.js"></script>
  <script src="../vendors/foundation/js/app.js"></script>
  <script src="../js/primary.js"></script>
</body>

</html>
