<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nomadic</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/foundation/css/foundation.css">
  <link rel="stylesheet" href="../vendors/foundation/css/app.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="">
  <!-- start profile section -->
  <div class="card-profile-stats">
    <div class="card-profile-stats-intro">
      <img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="profile-image" />
      <div class="card-profile-stats-intro-content">
        <h3>Micaela Bastidas</h3>
        <p>Joined Jan. 10th 2017</small></p>
      </div>
    </div>
    <hr />
    <div class="card-profile-stats-container">
      <div class="card-profile-stats-statistic">
        <span class="stat">1</span>
        <p>posts</p>
      </div> <!-- /.card-profile-stats-statistic -->
      <div class="card-profile-stats-statistic">
        <span class="stat">1</span>
        <p>followers</p>
      </div> <!-- /.card-profile-stats-statistic -->
      <div class="card-profile-stats-statistic">
        <span class="stat">2</span>
        <p>likes</p>
      </div> <!-- /.card-profile-stats-statistic -->
    </div> <!-- /.card-profile-stats-container -->
    <div class="card-profile-stats-more">
      <p class="card-profile-stats-more-link"><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
      <div class="card-profile-stats-more-content">
          <h2>Description</h2>
          <p>Hi everybody. I'm Micaela i like travel around world and i like to do extreme sports</p>
      </div> <!-- /.card-profile-stats-more-content -->
    </div> <!-- /.card-profile-stats-more -->
  </div> <!-- /.card-profile-stats -->
  <!-- End profile section -->
  <script src="../vendors/js/jquery-3.2.1.min.js "></script>
  <script src="../vendors/foundation/js/vendor/jquery.js "></script>
  <script src="../vendors/foundation/js/vendor/what-input.js "></script>
  <script src="../vendors/foundation/js/vendor/foundation.js "></script>
  <script src="../vendors/foundation/js/app.js "></script>
  <script src="../js/profile.js "></script>
</body>

</html>
